<div class="credit-card-wrap">
  <div class="mk-icon-world-map"></div>
  <div class="credit-card-inner">
    <header class="header">
      <div class="credit-logo">
        <div class="shape"><span class="txt"></span></div>
        <span class="text">Monobank</span>
      </div>
    </header>
    <div class="mk-icon-sim"></div>
    <div class="credit-font credit-card-number">{{cardNumber}}</div>
    <footer class="footer">
      <div class="flex flex-row">
        <div class="credit-font credit-author">{{name}}</div>
        <div class="pl-10" style="color:#fff; text-align:center;"><span
          style="width:50px; color:#deb887; font-size:12px;line-height:14px;text-align:right;display:inline-block;text-transform:uppercase;">Expires End</span><span
          class="credit-font" style="padding-left: 20px">01/01</span></div>
      </div>
    </footer>
  </div>
</div>
