<!-- settings.component.html -->

<div class="settings-container">
  <!-- External Link -->
  <a href="https://api.monobank.ua/" target="_blank" class="external-link">Please visit MonoBank API and copy access token</a>

  <div class="form-group">
    <label for="clientToken" class="form-label">Insert your token:</label>
    <input type="text" id="clientToken" [(ngModel)]="clientToken" placeholder="Enter token" class="form-control">
  </div>

  <!-- Submit Button -->
  <button type="button" (click)="submitSettings()" class="submit-button">Submit</button>
</div>
