<!--<div class="w-full flex justify-center">-->
<!--  <div class="flex flex-col w-1/2">-->
<!--    <h2 class="text-center font-bold mb-4">Transactions</h2>-->
<!--    <div class="divide-y">-->
<!--      <ng-container *ngFor="let transaction of transactions">-->
<!--        <div class="flex flex-col p-4">-->
<!--          <img class="h-12 rounded-full mr-4"-->
<!--               [src]="transaction.icon != '' && transaction.category != 'Переказ коштів' ? transaction.icon : 'assets/credit-card.svg'"-->
<!--               alt="">-->
<!--          <span class="text-lg font-bold">{{transaction.description}}</span>-->
<!--          <span class="text-md">Date: {{transaction.dateOccured | date: 'medium'}}</span>-->
<!--          <span class="text-md">Amount: {{transaction.amount | currency}}</span>-->
<!--          <span class="text-md">Balance After: {{transaction.balanceAfter | currency}}</span>-->
<!--        </div>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="w-full flex justify-center">
  <div class="divide-y">
  <h2 class="text-center font-bold" style="padding: 15px;">Transactions</h2>
    <ng-container *ngFor="let transaction of transactions">
      <div class="flex justify-center items-center p-4">
        <div class="flex flex-row items-center flex-grow">
          <img class="h-12 rounded-full mr-4"
               [src]="transaction.icon != '' && transaction.category != 'Переказ коштів' ? transaction.icon : 'assets/credit-card.svg'"
               alt="">
          <div class="flex flex-col">
            <span routerLink="/stats" [state]="transaction" class="text-xl font-base">{{transaction.description}}</span>
            <span class="text-md font-secondary">{{transaction.category}}</span>
          </div>
        </div>
        <span [ngClass]="{'text-red-600': transaction.amount != null && transaction.amount < 0, 'text-green-600': transaction.amount != null && transaction.amount >= 0}"
              class="text-2xl ml-4">{{transaction.amount | number:'1.2-2'}}</span>
      </div>
    </ng-container>
  </div>
</div>

