.token-section {
  display: flex;
  flex-direction: row; /* Align elements in a row */
  align-items: center; /* Align items vertically in the center */
  gap: 10px; /* Spacing between elements */
}

.token-input, .get-token-button {
  flex: 1; /* Allow both elements to take equal space */
}

.load-transaction-button {
  margin-top: 20px;
}

.transactions-container {
  margin-top: 20px;
}
