section {
  display: table;
  padding: 10px;
  margin: auto;
}

.basic-button {
  display: table-cell;
  padding-inline: 10px;
}

.clearable-field {
  width: 410px;
}

.headerIcon{
  padding-right: 50px;
}
