.positive-amount {
  color: green;
}

.cdk-overlay-container {
  z-index: 10000; /* Use a value higher than the modal's z-index */
}

#dateRangeModal .modal-footer button {
  opacity: 1; /* Ensure full opacity */
  color: #3c1010; /* Adjust color as needed */
  /* Add any other necessary styles */
}

.icon-container {
  margin-bottom: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center; /* Aligns horizontally at the center */
  width: 100%;
  margin-top: 10px; /* Adjust this value as needed */
}

#dateRangeDisplay {
  /* Add your styling here */
  margin-top: 5px; /* Example */
  margin-left: 10px; /* Example */
  font-size: 20px; /* Example */
}
